
// --------------------Font-color------------------------------




// -----base-primary-color------

$bs-primary-color: #00c194;
$bs-primary-white:#fff;


//----secondary-color-----------

$darkColor-base: #00a376;
$darkColor-light-base:#70778a;
$darkColor-black:#212121;



// ------primary-light-------------

$primary-light-color:#50ffe4;
$primary-light-btn-color:#eaf7f4;




//--------Font-size-------------------

$font-base:12px;
$font-medium:16px;
$font-reg-medium:20px;
$font-regular:32px;


// -----------FOnt-weight--------------------

$font-weight-base:500;
$font-weight-medium:700;
